
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    {% block title %}
    <title>Document</title>
    {% endblock %}
  </head>
  <body class="min-h-screen flex flex-col">
    <!-- Navbar -->
    <nav class="h-20 bg-blue-500 w-full flex justify-between items-center">
      <h1 class="text-2xl ml-8 font-bold">Audio Evaluator</h1>
      <ul class="flex gap-6 mr-12 text-md font-semibold">
        {% block navlinks %}
        <!-- Navbar links -->
        {% endblock %}
      </ul>
    </nav>
    <!-- Hero content -->
     <main class="flex-grow">
      {% block hero %}{% endblock %}
     </main>


    <!-- Footer -->
    <footer class="h-10 bg-blue-500 w-full flex items-center justify-around">
    </footer>
    {% block script %}

    {% endblock %}
  </body>

</html>
