{% extends 'layout.html' %}
{% load static %}
{% block title %}
<title>Login</title>
{% endblock %} 
{% block navlinks %}
    <li><a class="hover:text-white" href="register">Register</a></li>
{% endblock %}
{% block hero %}
<div class="flex items-center justify-center h-screen">
    <div class="bg-white p-8 shadow-md rounded-lg max-w-md w-full">
        <!-- Login form -->
         <form action="" method="post" class="space-y-4">
            {% csrf_token %}
            {% if error_message %}
                <div align="center" style="color: red;">
                    <h2>{{error_message}}</h2>
                </div>
            {% endif %}
            <h2 class="text-2xl font-semibold">Login</h2>
            <div>
                <label for="username" class="block mb-1 font-medium">Username</label>
                <input type="text" name="username" id="username" placeholder="Enter your username..." class="w-full p-2 border rounded">
            </div>
            <div>
                <label for="password" class="block mb-1 font-medium">Password</label>
                <input type="password" name="password" id="password" placeholder="Enter your password..." class="w-full p-2 border rounded">
            </div>
            <button type="submit" class="w-full bg-blue-600 text-white rounded hover:bg-blue-700 p-2 font-bold">Login</button>
         </form>
         <p align="center" class="mt-2 ">Create an account <a href="signup" class="text-blue-600 hover:text-blue-700">Register?</a></p>
    </div>
</div>
{% endblock %}