{% extends 'layout.html' %}
{% load static %}
<!-- Page title -->
{% block title %}
    <title>Saved Content</title>
{% endblock %}

{% block navlinks %}
    <li><a class="hover:text-white" href="{% url 'home' %}">Home</a></li>
    <li><a class="hover:text-white" href="logout">Logout</a></li>
{% endblock %}
{% block hero %}

    <div class="border border-1 w-9/12 mx-auto my-16 rounded-lg shadow-md p-4 bg-gray-50">
        <h1 class="text-2xl my-4 font-bold">Saved Contents</h1>
        {% for content in generated_content %}
        <a href="#" class="block p-2 border mb-4 rounded-lg shadow-lg font-semibold bg-white">
            {{content.name}}
        </a>        
        {% endfor %}
    </div>

{% endblock %}